@use './../../../scss/_style';
@import './../../../scss/_style';

.panel{
    flex:1 1 25%;
    padding:20px 0px 0px 0px;
    color: #e0dfdc;
    font-size: 16px;
    font-weight: 700;
    border-radius: 8px 0 0 8px;
    box-shadow:1px 0 #ffffff20;
   border-right: 1px solid #00000080;
   @media (max-width:$mobile) {
        display: none;
   }
   @media (max-width:$tablet) {
    display: flex;
    flex-direction: column;
   }
    .intresting{
        display: grid;
        grid-template-columns: 1.3fr 0.7fr;
        grid-template-rows: repeat(3,auto);
        border-bottom: 1px solid #00000080;
        padding: 20px 20px 20px 20px;
        @media (max-width:$tablet) {
            grid-template-columns: repeat(3,auto);
            grid-template-rows: repeat(2,auto);
           
        }
.categories{
grid-row-start: 1;
grid-row-end: 4;
padding-bottom: 20px;
@media (max-width:$tablet){
    grid-column-start: 1;
    grid-column-end: 4;
}
& ul  {
@media (max-width:$tablet) {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   column-gap: 10px;
}    
}

}
.type{
    grid-row-start:1 ;
    @media (max-width:$tablet){
        grid-row-start: 4;
        grid-column-start: 1;
    }

}
.year{
    grid-row-start: 2;
    @media (max-width:$tablet){
        grid-row-start: 4;
        grid-column-start: 2;
    }

}
.cantry{
    grid-row-start: 3;
    @media (max-width:$tablet){
        grid-row-start: 4;
        grid-column-start: 3;
    }

}
    }
    .block{
        border-bottom: 1px solid #00000080;
padding: 20px 20px;


    }
   
}

.name{
font-weight: 700;
color: #f8d268;
}.list{
    margin-top: 8px;
    .link-title{
        padding: 3px 0;
        font-size: 13px;
        transition: all .3s;
        color:inherit;
        font-weight: 400;
        &:hover{
            text-decoration: underline;
 color:#979794; 
        }
    }
}
