@import './../../../scss/style';

.body{
   width: 100%;
   height: 100%;
    background-color:#000000ba ;
     position: absolute; 
      z-index: 20;
    .window{
    margin: 0 auto;
        width: 50vh;
       
        margin-top: 5%;
        z-index: 100;
      opacity: 1.5;
      border: 1px solid #00000080;
      border-radius: 3px 3px 0 0;  
      background: $dark-grey;
      color: #d7d2d2;
      padding: 10px;
      @media (max-width:$mobileSmall) {
         width: 45vh; 
      }
      .form{
        form{
          margin-top: 15px;
          display: flex;
          flex-direction: column;
          gap: 15px;
           input{
            padding: 7px;
            height: 30px;
            border-radius: 3px;
           }
        }
      }
    }
}