@import './../../../scss/mixins';
@import './../../../scss/style';
.footer{
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media (max-width:$mobileSmall) {
        padding: 10px 0 10px 0;
    }
 .logotype{
    width: 200px;
    .logo{
        @include logo;
    } }
    .content{
        @include adaptiveValue(width,700,150);
        @media (max-width:$mobileSmall){
            display: none;
        }
    }
 
   
}